body{
    text-align: center;
    background:linear-gradient(#00b7ff 0%,#7354ff 100%); 
}

h1{
    font-size: 40px;
    font-family: cursive;
    color: blue;
}
img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: solid black ;
}

p{
    font-size: 35px;
    font-family:'Dancing Script', cursive;
}

.menu{
    position: fixed;
    list-style: none ;
    top: 10px;
    right: 10px;
    z-index: 100000;
    }

.links{
    float: left;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 9px;
    padding-left:  9px;
    font-size: 25px ;
}

